* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  list-style: none;
  scroll-behavior: smooth;
  font-size: 10px;
}

/* Creating a CSS variable to reuse throughout the code */
:root {
  --light-blue: rgb(168, 216, 255);
  --dark-grey: rgb(115, 118, 134);
  --light-grey: rgb(224, 224, 224);
  --dark-blue: rgb(49, 104, 255);
  --extra-light-grey: rgb(240, 240, 240);
  --border-color: rgb(186, 186, 186);
}

body {
  font-family: "Raleway", sans-serif;
  margin: 0;
  padding: 0;
  /* max-width: 100vw; */
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button {
  text-decoration: none;
  background-color: var(--extra-light-grey);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 150px;
  font-size: 1.5rem;
  border-color: var(--border-color);
  border-style: solid;
  border-width: 1px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Navigation */

#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 75px;
  /* background-color: rgb(115, 118, 134); */
  background-color: var(--dark-grey);
  padding: 0px;
  /* position: fixed; */
  position: sticky;
  width: 100%;
}

#navbar-list {
  display: flex;
  /* align-items: center; */
  /* flex-direction: row; */
  /* flex-wrap: wrap; */
  padding: 0px;
}

li {
  font-size: 20px;
  list-style: none;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  border-width: 0.5px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  width: 140px;
}

li:hover {
  background-color: rgb(152, 152, 152);
  transition: 1000ms;
}

li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-size: 2rem;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Section One */
#section1 {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url("../img/_MG_4921-Edit.jpg");
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 75px);
}

.hero {
  /* perspective: 1000px; */
  /* transform-style: preserve-3d; */
}

#section1 h1 {
  font-weight: 200;
  font-size: 4rem;
  margin: 0px;
  padding: 10px;
  /* transform: rotate3d(5, 10, 15, 80deg); */
  /* transform: rotateX(75deg); */
}

#section1 h4 {
  font-weight: 200;
  font-size: 2rem;
  margin: 0px;
  padding: 10px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Section Two */

#section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
  text-align: center;
}

.feature-area {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: row;
  max-width: 1200px;
}

.feature-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 20px;
  /* text-align: center; */
  height: 400px;
  /* background-color: rgb(224, 224, 224); */
  background-color: var(--light-grey);
}

.feature-content img {
  width: 100%;
  /* height: auto; */
  height: 175px;
  object-fit: cover;
}

.feature-content h2 {
  font-weight: 300;
  font-size: 2.5rem;
  padding: 10px;
}

.feature-content p {
  font-weight: 200;
  font-size: 2rem;
  padding: 10px;
}

.blog-area {
  display: flex;
  justify-content: center;
  max-width: 1200px;
}

.blog-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 500px;
  background-color: var(--light-grey);
  margin: 15px;
}

.blog-content img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.blog-content h2 {
  font-weight: 300;
  font-size: 2.5rem;
  padding: 10px;
}

.blog-content p {
  font-weight: 200;
  font-size: 2rem;
  padding: 10px;
}

.blog-content a {
  margin-top: 50px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Section Three */

#section3 {
  height: 350px;
  width: 100%;
  background-image: url("../img/_MG_1555-HDR.jpg");
  background-position: center;
  /* background-attachment: fixed; */
  background-size: cover;
  /* margin: 0px; */
}

.services-area h1 {
  font-weight: 400;
  font-size: 4rem;
  color: white;
  text-shadow: 1px 1px 5px rgb(36, 36, 36);
}

.services-area p {
  font-weight: 200;
  font-size: 3rem;
  color: white;
  text-shadow: 1px 1px 10px rgb(36, 36, 36);
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Section Four */

#section4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* max-width: 95%; */
}

.testimonial-area {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: blueviolet; */
  max-width: 1200px;
  /* padding: 20px; */
}

.testimonial-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: var(--light-grey);
  text-align: center;
  height: 550px;
  /* width: 300px; */
  width: calc(25% - 40px);
}

.testimonial-content img {
  width: 100%;
  height: 250px;
}

.testimonial-content h2 {
  font-weight: 300;
  font-size: 2.5rem;
  padding: 10px;
}

.testimonial-content p {
  font-weight: 200;
  font-size: 2rem;
  padding: 10px;
}

.testimonial-content .button {
}

.big-column-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1160px;
  /* padding-bottom: 50px; */
  background-color: var(--light-grey);
  margin-bottom: 50px;
}

.big-column-area img {
  width: 100%;
  height: 425px;
  object-fit: cover;
  object-position: bottom;
}

.big-column-text h2 {
  font-weight: 400;
  font-size: 3rem;
  width: 100%;
  padding: 25px;
  padding-bottom: 10px;
}

.big-column-text p {
  font-weight: 200;
  font-size: 2rem;
  width: 100%;
  padding: 25px;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Section Five */

#section5 {
  background-image: url("../img/monica-toner-oroFhZj_YA4-unsplash.jpg");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
  width: 100%;
}

.contact-area {
  display: flex;
  flex-direction: column;
  /* background-image: url("../img/IMG_0249-HDR.jpg"); */
  background-size: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  height: 600px;
}

.contact-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 25px;
  padding: 10px;
}

.contact-content h1 {
  font-weight: 300;
  font-size: 4rem;
  text-align: center;
  text-shadow: 1px 1px 3px black;
  padding: 10px;
  color: azure;
}

.contact-content p {
  font-weight: 200;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(204, 204, 204, 0.75);
  border-radius: 5px;
  padding: 10px;
}

.contact-area form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 20rem;
}

/* .contact-area input {
  margin: 5px;
  padding: 10px;
} */

input {
  /* margin: 10px; */
  /* padding: 10px; */
  background-color: rgba(204, 204, 204, 0.75);
  border: none;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  margin-bottom: 40px;
  margin-top: -20px;
  padding: 10px;
}

/* .text-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

textarea {
  /* margin: 10px; */
  /* padding: 10px; */
  background-color: rgba(204, 204, 204, 0.75);
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 150px;
  margin: 20px;
  padding: 10px;
}

button {
  text-decoration: none;
  background-color: rgb(255, 179, 179);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 150px;
  font-size: 1.5rem;
  border: none;
  /* margin-top: 50px; */
}

.form-input {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
  align-items: center;
  justify-content: center;
}

.form-submit {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 50%;
  align-items: center;
  justify-content: center;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  font-weight: 200;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content h1 {
  font-size: 2rem;
  padding-bottom: 10px;
  width: 100%;
}

.footer-content hr {
  width: 125%;
  color: black;
  margin-bottom: 10px;
  border: solid black;
  border-width: 0.5px;
}

.footer-content {
}

footer .copyright {
  /* margin-top: 20px; */
  font-weight: 100;
  font-size: 10px;
  /* padding-bottom: 20px; */
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (min-width: 925px) and (max-width: 1200px) {
  nav {
    width: 100%;
  }

  .feature-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 900px;
  }

  .blog-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 900px;
  }

  .testimonial-area {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
    max-width: 900px;
    /* padding: 20px; */
  }

  .testimonial-content {
    flex-basis: calc(50% - 40px);
    margin-bottom: 10px;
  }

  .big-column-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 860px;
    /* padding-bottom: 50px; */
    background-color: var(--light-grey);
    margin-bottom: 50px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 825px) and (max-width: 924px) {
  .feature-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 800px;
  }

  .blog-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    max-width: 800px;
  }

  .testimonial-area {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
    max-width: 800px;
    /* padding: 20px; */
  }

  .testimonial-content {
    flex-basis: calc(50% - 40px);
    margin-bottom: 10px;
  }

  .big-column-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 760px;
    /* padding-bottom: 50px; */
    background-color: var(--light-grey);
    margin-bottom: 50px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 550px) and (max-width: 824px) {
  #navbar ul {
    /* display: none; */
  }

  #navbar ul {
    width: 700px;
  }

  .navbar {
  }

  #navbar-list {
    display: flex;
    /* align-items: center; */
    /* flex-direction: row; */
    /* flex-wrap: wrap; */
    padding: 0px;
  }

  li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    width: 140px;
  }

  li:hover {
    background-color: rgb(152, 152, 152);
    transition: 1000ms;
  }

  li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.75rem;
  }

  /* #hamburger {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
  }

  #hamburger span {
    display: flex;
    height: 2px;
    width: 25px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 2px;
    z-index: 1;
  } */

  .feature-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 95%;
    /* max-width: 700px; */
  }

  .feature-content {
    max-width: 100%;
    /* width: 500px; */
    height: 500px;
  }

  .feature-content img {
    height: 200px;
  }

  .blog-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 700px;
  }

  .blog-content {
    width: 500px;
    height: 500px;
  }

  .blog-content img {
    height: 200px;
  }

  .services-area {
    max-width: 500px;
  }

  .testimonial-area {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
    max-width: 500px;
    /* padding: 20px; */
  }

  .testimonial-content {
    width: 100%;
    margin-bottom: 10px;
  }

  .big-column-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    /* padding-bottom: 50px; */
    background-color: var(--light-grey);
    margin-bottom: 50px;
    margin-top: 30px;
  }

  .contact-area {
    max-width: 500px;
  }
}

@media screen and (min-width: 700px) and (max-width: 724px) {
  li {
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 10px;
    border-width: 0.5px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
    width: 140px;
  }

  li:hover {
    background-color: rgb(152, 152, 152);
    transition: 1000ms;
  }

  li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 699px) {
  #navbar {
    width: 50px;
    height: 40px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 20px;
    /* left: calc(90% - 50px); */
    /* top: 1% - 10px; */
    /* left: 90% - 10px; */
  }

  #navbar ul {
    display: none;
  }

  #hamburger {
    /* display: flex;
    flex-direction: column; */
    display: inline-block;
    cursor: pointer;
    /* padding: 10px; */
    border-radius: 10px;
  }

  #hamburger span {
    display: flex;
    height: 2px;
    width: 25px;
    /* margin-bottom: 5px; */
    margin: 4px;
    position: relative;
    background: black;
    border-radius: 2px;
    z-index: 1;
  }
}

@media screen and (min-width: 400px) and (max-width: 549px) {
  .feature-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 375px;
    max-width: 375px;
  }

  .feature-content {
    width: 375px;
    /* height: 375px; */
    max-width: 375px;
    margin-bottom: 40px;
  }

  .blog-area {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 375px;
    max-width: 375px;
  }

  .blog-content {
    width: 375px;
    /* height: 375px; */
    max-width: 375px;
  }

  .services-area h1 {
    font-weight: 400;
    font-size: 4rem;
    color: white;
    text-shadow: 1px 1px 5px rgb(36, 36, 36);
    max-width: 375px;
  }

  .services-area p {
    font-weight: 200;
    font-size: 3rem;
    color: white;
    text-shadow: 1px 1px 10px rgb(36, 36, 36);
    max-width: 375px;
  }

  .testimonial-area {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
    /* background-color: blueviolet; */
    /* width: 375px; */
    /* max-width: 375px; */
    /* padding: 20px; */
  }

  .testimonial-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: var(--light-grey);
    text-align: center;
    height: 550px;
    width: 375px;
    /* width: calc(25% - 40px); */
  }

  .big-column-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 375px;
    /* padding-bottom: 50px; */
    background-color: var(--light-grey);
    margin-bottom: 50px;
    margin-top: 30px;
  }

  .contact-area {
    /* height: 500px; */
  }

  .contact-area form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    /* height: 20rem; */
    height: 500px;
  }

  input {
    /* margin: 10px; */
    /* padding: 10px; */
    background-color: rgba(204, 204, 204, 0.75);
    border: none;
    border-radius: 5px;
    height: 35px;
    width: 100%;
    /* margin-bottom: 40px; */
    /* margin-top: -20px; */
    padding: 10px;
  }

  textarea {
    /* margin: 10px; */
    /* padding: 10px; */
    background-color: rgba(204, 204, 204, 0.75);
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 150px;
    /* margin: 20px; */
    padding: 10px;
  }

  .form-input {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* width: 50%; */
    align-items: center;
    justify-content: center;
  }

  .form-submit {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* width: 50%; */
    align-items: center;
    justify-content: center;
  }
}

/* ------------------------------------------------------------ */
